
svg {
  background-color: white;
/*  overflow:visible;*/
  position:static;
}

circle {
  fill:black;
}

#Middle {
  fill: red;
}

#updatePanel {
  position:static;
  float: left;
}

.paneltext {
  color: blue;
}
#viewbox {
  width:350px;
  height:350px;
  position: static;
  float: left;
  background: green;
}
