
svg {
  background-color: blue;
  overflow:visible;
  position:absolute;
}

circle {
  fill:red;
}

#Middle {
  fill: orange;
}

#viewbox {
  width:350px;
  height:350px;
  position: absolute;
  background: green;
}
