
svg {
  background-color: white;
  flow: left;
/*  overflow:visible;*/
  position:static;
}

circle {
  fill:blue;
}

#Middle {
  fill: red;
}

#updatePanel {
  position:static;
  float: left;
}
#updatePanel p {
  font-size: 24px;
}

#updatePanel b {
  font-size: 36px;
}

#legend {
  position: static;
  float: none;
  width:440px;
  height:180px;
  font-size: 24px;
}


.paneltext {
}

#viewbox {
  width:600px;
  height:600px;
  position: static;
  float: left;
  background: green;
}
