#updatePanel {
  position:static;
  float: left;
}
#updatePanel p {
  font-size: 24px;
}

#updatePanel b {
  font-size: 36px;
}

#legend {
  position: static;
  float: none;
  width:440px;
  height:180px;
  font-size: 24px;
}


.paneltext {
}

canvas {
  position: static;
  float: left;
}
